.plup-list li.plup-select div {
  /* plup_preview image preset size, chage it to yours */
  width: 100px;
  height: 100px;
}

.plup-list li .plup-fields input {
  /* plup_preview image preset size, chage it to yours */
  width: 100px;
}

.plup-list {
  margin: 0;
}

.plup-list li {
  float: left;
  position: relative;
  padding: 2px 4px;
  margin: 0;
  background: none;
}

.plup-list li .plup-preview-wrapper img {
  border: 3px solid #ccc;
  background-image: url('../images/loading.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
  cursor: move;
}

.plup-list li.plup-select div {
  border: 3px dotted #B3B3B3;
  background-image: url('../images/select.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: whiteSmoke;
  cursor: pointer;
}

.plup-list li.plup-active div {
  background-image: url('../images/loading.gif');
}

.plup-list li .plup-preview-wrapper {
  position: relative;
}
.plup-list li .plup-preview-wrapper .plup-remove-item {
  position: absolute;
  top: -6px;
  right: -5px;
  display: block;
  background: url('../images/delete.png');
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.plup-list li .plup-preview-wrapper .plup-main-item {
  position: absolute;
  top: -6px;
  right: 15px;
  display: block;
  background: url('../images/main.png');
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: none;
}

.plup-list li:hover .plup-preview-wrapper .plup-main-item,
.plup-list li.main .plup-preview-wrapper .plup-main-item {
  display: block;
}

.plup-list li .plup-fields input {
  margin: 0 1px;
}

.plup-list li.main .plup-preview-wrapper img {
  border-color: green;
}
